@prefix: page-goods-list;

.@{prefix}-container {
  &-table-body {
    padding: 20px;
    background-color: #fff;
    .product-info {
      display: flex;
      align-items: center;
      .ant-image {
        width: 60px;
        margin-right: 10px;
      }
      p {
        margin: 0;
      }
    }
  }
  &-search {
    margin-bottom: 20px;
    padding: 20px 0 0 0;
    background-color: #fff;
  }
  .img-list {
    img {
      width: 30px;
      margin-right: 4px;
    }
  }
}
