@prefix: suspension-list;

.@{prefix}-container {
  .ant-form-item-control-input {
    white-space: nowrap;
  }
  &-table-header {
    padding: 20px;
    background-color: #fff;
    .title {
      display: flex;
      justify-content: space-between;
      > span {
        color: rgba(0, 0, 0, 0.85);
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  &-table-body {
    padding: 0 20px;
    background-color: #fff;
    .ant-table-row {
      .ant-table-cell {
        &:last-child {
          white-space: nowrap;
        }
      }
    }
  }
  &-search {
    margin-bottom: 20px;
    padding: 20px 0 0 0;
    background-color: #fff;
  }
}
.operation-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #f8f8f8;
  .title {
    margin-right: 40px;
  }
}
