@prefix: home-screen-ad;
@import '../../../global.less';

.@{prefix}-container {
  color: orange;
  .banner-img {
    width: 445px;
    height: 116px;
    > img {
      width: 100%;
      height: 100%;
    }
  }
}

.table-img {
  height: 150px;
}