@prefix: operate-data-data-display;

.@{prefix}-container {
  &-data-display-item {
    display: flex;
    > div {
      display: grid;
      padding: 10px;
      :first-child {
        color: rgba(0, 0, 0, 0.65);
        font-size: 16px;
      }
      :last-child {
        color: rgba(0, 0, 0, 0.85);
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
      }
    }
  }
}
