.customer-detail {
  background: #fff;
  padding: 60px 40px 60px 40px;
  .item {
    color: #333;
    font-size: 16px;
  }
  label {
    display: inline-block;
    width: 140px;
    text-align: right;
    margin-right: 4px;
  }
  .top-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    img {
      width: 140px;
      height: 140px;
      border-radius: 2px;
    }
    .top-right {
      margin-left: 20px;
      flex: 1;
      .org-name {
        color: #1E232A;
        font-size: 16px;
        font-weight: bold;
      }
      .org-status {
        display: inline-block;
        padding: 1px 6px;
        font-size: 14px;
        color: #0068ff;
        background: #e0e8fe;
        border-radius: 2px;
        margin-left: 40px;
      }
      .credit-code {
        font-size: 14px;
      }
      .right-bottom-content {
        margin-top: 20px;
        padding: 14px;
        background: #f8f9fa;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        >div {
          max-width: 40%;
          .item {
            margin-bottom: 8px;
            display: flex;
            align-items: flex-start;
            height: 26px;
            label {
              white-space: nowrap;
              width: 120px;
            }
          }
        }
      }
    }
  }
  .card {
    margin-top: 20px;
    .title {
      color: #1E232A;
      font-size: 18px;
      font-weight: bold;
      position: relative;
      padding-left: 10px;
      &::before {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        background: #2d5cf6;
        width: 4px;
        height: 18px;
        border-radius: 2px;
      }
    }
    .flex-box {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 20px 80px 8px 30px;
      .item {
        margin-bottom: 10px;
      }
      &.flex-start {
        justify-content: flex-start;
        .item {
          &:last-child {
            margin-left: 240px;
          }
        }
      }
    }
    .special-item {
      display:  flex;
      align-items: flex-start;
      padding-left: 84px;
      .label {
        white-space: nowrap;
      }
    }
  }
}
