.expert-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  .expert-detail-card {
    &-header {
      display: flex;
      margin-bottom: 20px;
      padding: 35px;
      background: #fff;
      .basic-info {
        flex: 1;
        margin-left: 30px;
        .expert-name {
          margin-bottom: 20px;
          font-weight: bold;
          font-size: 30px;
          line-height: 42px;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
        .first-part {
          margin-bottom: 20px;
          line-height: 26px;
          &-item {
            display: flex;
            > label {
              &::after {
                position: relative;
                top: -0.5px;
                margin: 0 8px 0 2px;
                content: ':';
              }
            }
          }
          .ant-divider-vertical {
            margin: 0 10px;
            border-left-color: #979797;
          }
        }
        .second-part {
          line-height: 26px;
          .ant-descriptions-row {
            .ant-descriptions-item {
              padding-bottom: 20px;
            }
            &:last-of-type {
              .ant-descriptions-item {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
    &-body {
      background-color: #fff;
      .expert-skill-info {
        padding: 50px;
        &-item {
          &:not(:last-of-type) {
            margin-bottom: 50px;
          }
          .title {
            position: relative;
            margin-bottom: 20px;
            color: #333;
            font-size: 20px;
            line-height: 28px;
            &::before {
              position: absolute;
              top: 50%;
              left: -10px;
              width: 4px;
              height: 16px;
              background-image: linear-gradient(133deg, #6f747b 0%, #5c5f66 100%);
              border-radius: 5px;
              transform: translate(-100%, calc(-50% + 1px));
              content: '';
            }
          }
          .content {
            margin-bottom: 0;
            color: #333;
          }
        }
      }
      &-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 79px;
        border-top: 1px solid #d9d9d9;
        .consult-btn {
          display: flex;
          align-items: center;
          height: auto;
          font-size: 20px;
          svg {
            width: 32px;
            height: 32px;
            margin-right: 5px;
            transform: translateY(3px);
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            fill: #6680ff;
          }
          &:hover,
          &:focus {
            svg {
              fill: #8fa5ff;
            }
          }
          &:active {
            svg {
              fill: #4c5fd9;
            }
          }
        }
      }
    }
  }
  .expert-action-wrap {
    margin-top: 15px;
    .ant-btn {
      min-width: 72px;
    }
  }
}
