@prefix: content-stream-ad-statistical-detail;
@import '../../../../global.less';

.@{prefix}-container {

}

.@{prefix}-card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 40px;
  .wrap {
    width: 100%;
  }
  .title {
    font-size: 16px;
    line-height: 30px;
  }
  .num {
    font-size: 24px;
    font-weight: 800;
    color: #6680FF;
  }
}
