@prefix: material-library;

.@{prefix}-container {
  &-table-header {
    padding: 20px;
    background-color: #fff;
    .title {
      display: flex;
      justify-content: space-between;
      div {
        .count {
          color: rgba(0, 0, 0, 0.85);
          font-weight: 600;
          font-size: 16px;
          line-height: 32px;
        }
        .tips {
          color: #999;
          font-size: 14px;
          line-height: 32px;
          margin-right: 8px;
        }
      }
    }
  }
  &-table-body {
    padding: 0 20px;
    background-color: #fff;
  }
  &-search {
    margin-bottom: 20px;
    padding: 20px 0 0 0;
    background-color: #fff;
  }
}
.operation-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #f8f8f8;
  .title {
    margin-right: 40px;
  }
}
.drop-menu {
  display: inline-block;
  margin-left: 4px;
}
