@prefix: material-library;

.@{prefix}-container {
  &-table-header {
    padding: 20px;
    background-color: #fff;
    .title {
      display: flex;
      justify-content: space-between;
      div {
        .count {
          color: rgba(0, 0, 0, 0.85);
          font-weight: 600;
          font-size: 16px;
          line-height: 32px;
        }
        .tips {
          margin-right: 8px;
          color: #999;
          font-size: 14px;
          line-height: 32px;
        }
      }
    }
    .group {
      display: flex;
      justify-content: space-between;
      margin-top: 18px;
      .left {
        display: flex;
        width: 84%;
        .title {
          display: inline-block;
          width: 36px;
          line-height: 32px;
        }
        .ant-radio-button-wrapper {
          padding: 0 40px;
          border: 1px solid #ffffff;
          &:active {
            border: 1px solid #ffffff;
          }
          &::before {
            background-color: #fff;
          }
        }
        .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
          border-right-color: transparent;
        }

        .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
          box-shadow: 0 0 0 3px transparent !important;
        }
      }
      .right {
        display: flex;
        div {
          margin-left: 20px;
        }
      }
    }
  }
  &-table-body {
    padding: 0 20px;
    background-color: #fff;
  }
  &-search {
    margin-bottom: 20px;
    padding: 20px 0 0 0;
    background-color: #fff;
  }
}
.add-group {
  .ant-popover-inner-content {
    padding: 12px 34px 12px 12px;
  }
  .ant-popover-message {
    padding-bottom: 0;
  }
}
.@{prefix}-edit-group-modal {
  .ant-modal-footer {
    text-align: center;
  }
}
