@prefix: service-number-management-detail;
@import '../../../../../global.less';

.@{prefix}-container {
  &-top {
    padding: 44px 100px;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.05);
    &-content {
      width: 375px;
      min-height: 603px;
      border: 1px solid rgba(0,0,0,0.05);
      &-header {
        width: 375px;
      }
      &-title {
        padding: 0px 29px;
        font-size: 16px;
        font-weight: bold;
      }
      &-label {
        margin-top: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 29px;
        &-name {
          font-size: 12px;
          font-weight: normal;
        }
        &-time {
          font-size: 12px;
          font-weight: normal;
          color: rgba(0,0,0,0.45);
        }
      }
      &-cover {
        margin-top: 21px;
        padding: 0px 29px;
        &-img {
          width: 310px;
          height: 165px;
        }
      }
      &-text {
        padding: 0px 29px;
        font-size: 14px;
        font-weight: normal;
        img {
          width: 310px;
          height: 165px;
        }
        table, td, th {
          border: 1px solid black;
        }
        ul {
          list-style: disc;
        }
        ol {
          list-style: decimal;
        }
        a {
          display: none; // 富文本中不展示链接
        }
      }
      &-video {
        width: 320px;
        height: 134px;
      }
    }
    &-collection {
      &-title {
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        padding: 10px 0px;
      }
      &-content {
        display: flex;
        &-item {
          margin-right: 10px;
          background-color: #6680FF;
          color: #fff;
          display: inline-block;
          padding: 0px 3px;
          height: 100%;
        }
      }
    }
    &-link {
      &-title {
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        padding: 10px 0px;
      }
      &-content {
        width: 600px;
      }
    }
  }
  &-center {
    margin-top: 10px;
    padding: 16px 117px;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.05);
    &-title {
      width: 65px;
      height: 21px;
      font-size: 16px;
      font-weight: bold;
      color: #000000;
    }
    &-content {
      &-item {
        display: flex;
        align-items: center;
        &-left {
          width: 240px;
          height: 36px;
          font-size: 12px;
          font-weight: normal;
          text-align: right;
          color: rgba(0,0,0,0.65);
          // line-height: 22px;
        }
        &-right {
          height: 36px;
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
  }
  &-bottom {
    margin-top: 10px;
    margin-bottom: 16px;
    padding: 32px 76px;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.05);
    &-title {
      font-size: 16px;
      font-weight: bold;
      color: #000000;
    }
    &-content {
      margin-top: 33px;
      &-item {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &-img {
          width: 28px;
          height: 28px;
        }
        &-name {
          margin-left: 28px;
          font-size: 12px;
          font-weight: bold;
          color: #555555;
          line-height: 22px;
        }
        &-type {
          margin-left: 72px;
          font-size: 12px;
          font-weight: normal;
          color: #000000;
          line-height: 22px;
        }
        &-time {
          margin-left: 80px;
          font-size: 12px;
          font-weight: normal;
          color: #000000;
          line-height: 22px;
        }
        // &::before {
        //   position: absolute;
        //   bottom: -12px;
        //   left: 14px;
        //   content: '';
        //   width: 1px;
        //   height: 12px;
        //   background-color: #aaaaaa;
        // }
        // &:last-child::before {
        //   display: none;
        // } 
      }
    }
  }
  &-back {
    padding: 13px 0px;
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
  }
}