@prefix: tab-menu-demand-report-summary;

.@{prefix}-container {
  &-table-header {
    padding: 20px;
    background-color: #fff;
    .title {
      display: flex;
      justify-content: space-between;
      > span {
        color: rgba(0, 0, 0, 0.85);
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  &-table-body {
    padding: 0 20px;
    background-color: #fff;
  }
}
