.diagnose-service-report {
    h3.title {
        margin: 16px 0 32px 0;
        height: 32px;
        font-size: 24px;
        font-family: MicrosoftYaHei, MicrosoftYaHei-Bold;
        font-weight: 700;
        text-align: left;
        color: #1e232a;
        line-height: 32px;
    }
    .content-wrapper {
        padding: 24px 32px;
        background-color: #fff;
        h3 {
            font-size: 20px;
            font-family: MicrosoftYaHei, MicrosoftYaHei-Bold;
            font-weight: 700;
            text-align: left;
            color: #1e232a;
        }
        .ant-pro-card-body {
            padding: 0;
        }
    }
    .empty-status {
        margin: auto;
        text-align: center;
        padding: 56px 0 200px;
        p {
          margin-top: 8px;
          color: #8290a6;
        }
    }
}