@prefix:column-manage;
.column-manage-drawer{
  .ant-drawer-header-title{
    flex-direction: row-reverse;
  }
}
.@{prefix}-container {
  &-header {
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &-body{
    padding: 0 20px;
    background-color: #fff;
  }
  &-search {
    margin-bottom: 20px;
    padding: 20px 0;
    background-color: #fff;
    .ant-form-item {
      margin-bottom: 20px;
    }
  }
}
