@prefix: service-number-collection-add;
@import '../../../../../global.less';

.@{prefix}-container {
  background-color: #fff;
  &-content {
    width: 50%;
    &-title {
      padding: 30px;
      font-weight: bold;
      font-size: 20px;
    }
  }
  &-collection {
    background-color: #fff;
    &-title {
      padding: 30px;
      font-weight: bold;
      font-size: 20px;
    }
  }
  &-modal {
    &-count {
      font-weight: bold;
    }
  }
  &-table {
    width: 1000px;
    padding-left: 30px;
  }
}