@prefix: service-number;

.@{prefix}-container {
  margin: 24px 24px 0px;
  .@{prefix}-container-card {
    padding: 28px 13px 13px;
    background-color: #fff;
    display: flex;
    flex-flow:row wrap;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}