.service-number-container {
  margin: 24px 24px 0px;
}
.service-number-container .service-number-container-card {
  padding: 28px 13px 13px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 30px;
}
