.verify-user-posting-detail-container-content {
  padding: 20px;
  background: #fff;
}
.verify-user-posting-detail-container-content-title {
  margin-left: 100px;
  font-size: 16px;
  font-weight: bold;
}
.verify-user-posting-detail-container-content-desc {
  display: flex;
  line-height: 48px;
}
.verify-user-posting-detail-container-content-desc > :first-child {
  flex: 1;
  text-align: right;
}
.verify-user-posting-detail-container-content-desc > :last-child {
  flex: 4;
  font-weight: 600;
  font-size: 16px;
}
.verify-user-posting-detail-container-publisher {
  margin-top: 10px;
  padding: 20px;
  background: #fff;
}
.verify-user-posting-detail-container-publisher-title {
  margin-left: 100px;
  font-size: 16px;
  font-weight: bold;
}
.verify-user-posting-detail-container-publisher-desc {
  display: flex;
  line-height: 48px;
}
.verify-user-posting-detail-container-publisher-desc > :first-child {
  flex: 1;
  text-align: right;
}
.verify-user-posting-detail-container-publisher-desc > :last-child {
  flex: 4;
  font-weight: 600;
  font-size: 16px;
}
.verify-user-posting-detail-container-topic {
  margin-top: 10px;
  padding: 20px;
  background: #fff;
}
.verify-user-posting-detail-container-topic-title {
  margin-left: 76px;
  font-size: 16px;
  font-weight: bold;
}
.verify-user-posting-detail-container-topic .operation-log {
  display: flex;
  flex-flow: column;
}
.verify-user-posting-detail-container-topic .operation-log-item {
  display: flex;
  flex-flow: row;
}
.verify-user-posting-detail-container-topic .operation-log-item .item-userName {
  margin-right: 20px;
  font-weight: bolder;
}
.verify-user-posting-detail-container-topic .operation-log-item .item-name {
  margin-right: 20px;
  font-weight: bolder;
}
.verify-user-posting-detail-container-topic .operation-log-item .item-time {
  margin-right: 20px;
  font-weight: bolder;
}
