@prefix: service-item;

.@{prefix}-container-card-item {
  // background-color: orange;
  // width: 30%;
  width: 334px;
  height: 145px;
  background: #ffffff;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 0px 18px;
  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0px 12px;
    &-left {
      display: flex;
      align-items: center;
      flex: 1;
      &-img {
        width: 50px;
        height: 52px;
      }
      &-text {
        margin-left: 22px;
        font-size: 16px;
        font-weight: bold;
      }
    }
    &-right {
      width: 53px;
      height: 25px;
      line-height: 25px;
      text-align: center;
      &-span {
        padding: 2px;
      }
    }
  }
  &-divider {
    border: 1px dashed  #d7d7d7;
  }
  &-bottom {
    margin-top: 10px;
    position: relative;
    &-left {
      position: absolute;
      left: 0px;
      button {
        width: 113px;
      }
    }
    &-right {
      position: absolute;
      right: 0px;
      button {
        width: 113px;
      }
    }
  }
}