.service-item-container-card-item {
  margin-right: 20px;
  border: 1px solid #6680ff;
}
.service-item-container-card-item-title {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);
}
.service-item-container-card-item-title-span {
  margin-left: 10px;
  width: 53px;
  height: 25px;
  font-size: 16px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.85);
  background-color: #f2f2f2;
}
.service-item-container-card-item-preview {
  width: 100%;
}
.service-item-container-card-item-preview-header-img {
  width: 100%;
}
.service-item-container-card-item-preview-header-content {
  padding: 0px 20px;
  line-height: 44px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
}
.service-item-container-card-item-preview-header-content-left-img {
  width: 23px;
  height: 23px;
}
.service-item-container-card-item-preview-header-content-center .service-item-container-card-item-preview-header-content-right {
  font-size: 16px;
  font-weight: bold;
}
.service-item-container-card-item-preview-content {
  height: 421px;
  background-color: #f4f4f4;
}
.service-item-container-card-item-preview-menu-nodata {
  line-height: 47px;
  font-size: 14px;
  text-align: center;
  border-bottom: 1px solid #f4f4f4;
}
.service-item-container-card-item-preview-menu-list {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.service-item-container-card-item-preview-menu-list-item {
  width: 100%;
  text-align: center;
}
.service-item-container-card-item-preview-menu-list-item-text {
  display: inline-block;
  width: 100%;
  line-height: 47px;
  cursor: pointer;
}
.service-item-container-card-item-bottom {
  margin-top: 16px;
  padding: 0px 16px;
  display: flex;
  justify-content: center;
}
.service-item-container-card-item-bottom-left {
  width: 75px;
}
.service-item-container-card-item-bottom-right {
  flex: 1;
}
