@prefix: withdraw-loan-info;
.@{prefix}-contain {
  padding: 20px;
  background-color: #fff;
  &-title {
    margin: 10px 0;
    padding-left: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    border-left: 3px solid #0068ff;
  }
  .ant-col {
    display: flex;
    line-height: 30px;
  }
  .contain-label {
    line-height: 30px;
    white-space: nowrap;
  }
  &-wrap {
    display: flex;
    &-button {
      margin: auto 10px;
      // line-height: 30px;
    }
  }
  &-table {
    width: 100%;
  }
  &-table-body {
    width: 100%;
    margin: 10px 0 20px;
  }
}
