@prefix: enterprise-info-verify-detail;

.@{prefix}-container{
  .@{prefix}-body{
    padding: 20px;
    background-color: #fff;
    .@{prefix}-header{
      font-size: 18px;
      font-weight: 600;
    }
  }
}