@prefix:operation-activity-link-setting;

.@{prefix}-container {


  &-header {
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
  }
  &-body{
    padding: 0 20px;
    background-color: #fff;
  }
  &-search {
    margin-bottom: 20px;
    padding: 20px 0;
    background-color: #fff;
    .ant-form-item {
      margin-bottom: 20px;
    }

  }
}
.ant-modal-body{
  height: 500px!important;
  overflow: auto;
}
.ant-picker-range{
  width: 100%;
}
.ant-popover-inner-content {
  max-height: 200px;
  overflow: auto;
}
.@{prefix} {
  &-formModel{
    .ant-modal-body{
      height: 500px!important;
      overflow: auto;
    }
  }
  &-statusName{
    color:#0068ff;
  }
  &-modelWord{
    display: flex;
    flex-flow:column ;
    justify-content: center;
    align-items: center;
    &-link{
      width: 400px;
    }
    &-bk{
      background-image: url("../../../assets/system/share-banner.png");
      background-size: 100% 100%;
      width: 467px;
      height: 850px;
      position: absolute;
      z-index: 1;
      bottom: -4px;
      &-invite{
        position: absolute;
        padding: 5px;
        border:2px solid #0068ff;
        top: 21px;
        font-size: 15px;
        font-weight: 400;
        color: #2C4B91;
        right: 14px;
      }
      .qr-anhui-pf{
        right: 30px;
        position: absolute;
        bottom: 67px;
      }
    }
    &-bk1{
      background-image: url("../../../assets/system/share-banner.png");
      background-size: 100% 100%;
      width: 467px;
      height: 850px;
      position: relative;
      &-invite{
        position: absolute;
        padding: 5px;
        border:2px solid #0068ff;
        top: 21px;
        font-size: 15px;
        font-weight: 400;
        color: #2C4B91;
        right: 14px;
      }
      .qr-anhui-pf{
        right: 30px;
        position: absolute;
        bottom: 67px;
      }
    }
  }
  &-operate-record{
    max-height: 150px;
    height: 50px;
    overflow-y: auto;
    width: 250px;
    display: flex;
    flex-flow: column;
    &-container{
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      margin-bottom: 5px;
      &-right{
        display: flex;
        flex-flow: column;
      }
    }
  }

}
