.trade-manage-info {
  margin-bottom: 16px;
  padding: 16px;
  background-color: #fff;
  .ant-col {
    padding: 5px;
  }
  .col {
    display: flex;
    flex-flow: row;
    margin-bottom: 10px;
    &-label {
      width: 200px;
      font-weight: bold;
      text-align: right;
    }
    &-title {
      width: 460px;
    }
  }
}
