@import "./scrollbar.less";
@import "./antd.less";

@primary-color: #409eff;

@primary-background-color: #ecf5ff;
.fc-style {
  height: 100vh;
  padding-top: 48px;
  box-sizing: border-box;
  overflow: hidden;
  .ant-form-vertical .widget-form-list{
    .ant-form-item .ant-form-item .ant-form-item-control {
      width: 55%;
    }
    .ant-form-item {
      margin-bottom: 12px;
    }
    .ant-radio-group{
      display: flex;
      flex-direction: column;
      .ant-radio-wrapper {
        margin: 8px 0 0 8px;
      }
    }
    .ant-checkbox-group {
      display: flex;
      flex-direction: column;
      .ant-checkbox-wrapper {
        margin: 8px 0 0 8px;
      }
      &.image-picker {
        flex-direction: row;
        flex-wrap: wrap;
        width: 180%;
        .ant-checkbox-wrapper {
          display: flex;
          flex-direction: column-reverse;
          background: rgba(0,0,0,0.05);
          height: 160px;
          padding-bottom: 10px;
          >span {
            &:not(.ant-checkbox){
              height: 120px;
            }
          }
        }
        .ant-checkbox {
          height: 16px;
          width: 16px;
          box-sizing: border-box;
          padding-left: 10px;
          margin-top: 6px;
          padding-bottom: 10px;
        }
        .ant-checkbox-checked::after {
          left: 10px;
        }
        .img-picker-label {
          position: relative;
          left: 24px;
          top: 6px;
        }
        .img {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height:100%;
         }
        .no-img {
          width: 110px;
          height: 120px;
          line-height: 120px;
          text-align: center;
          background: #fff;
        }
      }
    }
  }
  .fc-container {
    height: calc(100vh - 48px);
    background-color: #fff;
    padding-top: 48px;
    .components-container {
      height: calc(100vh - 96px);
    }
    .ant-layout {
      height: 100%;
      background-color: #fff;
    }
    .components {
      width: 100%;
      height: 100%;
      padding: 8px 0;
      .widget-cate {
        padding: 8px 12px;
        font-size: 13px;
      }
      ul {
        position: relative;
        padding: 0 10px 10px;
        margin: 0;
        overflow: hidden;
        list-style: none;
        .form-edit-widget-label {
          position: relative;
          left: 0;
          display: block;
          float: left;
          width: 48%;
          margin: 1%;
          overflow: hidden;
          font-size: 12px;
          line-height: 26px;
          text-overflow: ellipsis;
          white-space: nowrap;
          border: 1px solid #f4f6fc;
          & > a {
            display: block;
            color: #333;
            cursor: move;
            background-color: #f4f6fc;
            border: 1px solid #f4f6fc;
            text-align: center;
            span {
              display: inline-block;
              vertical-align: middle;
            }
          }

          &:hover {
            border: 1px dashed @primary-color;
            & > a {
              color: @primary-color;
            }
          }
        }
      }
    }
  }
  .top-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 48px;
    background: #001529;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-content: center;
    .top-header-right {
      height: 48px;
      margin: 0 0 0 12px;
      font-weight: 600;
      font-size: 18px;
      line-height: 46px;
      padding-bottom: 16px;
      cursor: pointer;
      img {
        height: 28px;
        margin-right: 12px;
        margin-left: 4px;
      }
      span,img {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .btn-bar {
    position: fixed;
    top: 48px;
    left: 0;
    z-index: 10;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 10px;
    line-height: 45px;
    text-align: right;
    background-color: #fff;
    border-bottom: 2px solid #e4e7ed;
    color: #1b1b1b;
    font-weight: bold;
    .middle-title {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .btn{
      border: 1px solid #1296db;
      padding: 0 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      height: 32px;
      line-height: 32px;
      color: #1296db;
      font-weight: normal;
      font-size: 14px;
      cursor: pointer;
      &.save {
        background: #5a97c3;
        color: #fff;
      }
      span{
        display: inline-block;
        vertical-align: middle;
      }
      img {
        display: inline-block;
        vertical-align: middle;
        margin-right: 4px;
        width: 18px;
        height: 18px;
      }
    }
  }
}


.config-related-modal {
  .sub-title {
    color: #666;
    font-size: 14px;
  }
  .content-title {
    color: #666;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #f8f8f8;
    line-height: 40px;
    margin-top: 6px;
    .left {
      width: 20%;
      margin-right: 20px;
    }
  }
  .config-related-content {
    >div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid #f8f8f8;
      .option-title {
        width: 20%;
        flex-shrink: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 20px;
      }
      .ant-select {
        flex: 1;
        width: 80%;
      }
    }
  }
}

.color-popover {
  .color-card {
    width: 260px;
  }
  .color-card-value {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  .color-list {
    .color-list-item {
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 2px;
      &:nth-child(6) {
        margin-right: 0;
      }
    }
  }
}
