.preview-modal-box {
  height: 100%;
  &.mobile {
    width: 375px;
    margin: 0 auto;
    .body-title-box {
      padding: 0 10px;
      text-align: center;
    }
    .preview-form {
      padding: 0 10px;
      .ant-form-item .ant-form-item .ant-form-item-control {
        width: 100%
      }
    }
    .preview-body {
      .ant-btn-primary {
        margin: 0 auto;
        display: block;
      }
    }
  }
  .preview-body {
    background: #f4f3f3;
    height: 667px;
    overflow-y: auto;
    padding-bottom: 20px;
  }
  .body-title-box {
    background: #e8e8e8;
    padding: 0 20%;
    .preview-page-title {
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: bold;
      color: #1b1b1b;
      font-size: 18px;
    }
    .preview-page-desc {
      font-size: 14px;
      color: #59677a;
      padding-bottom: 10px;
    }
  }
  .preview-form {
    padding: 0 20%;
    .ant-form-item .ant-form-item .ant-form-item-control {
      width: 55%
    }
    .ant-form-item {
      margin-top: 10px;
      margin-bottom: 12px;
    }
    .ant-radio-group{
      display: flex;
      flex-direction: column;
      .ant-radio-wrapper {
        margin: 8px 0 0 8px;
      }
    }
    .ant-checkbox-group {
      display: flex;
      flex-direction: column;
      .ant-checkbox-wrapper {
        margin: 8px 0 0 8px;
      }
    }
  }
}
