.application {
  font-size: 13px;
  &-contain {
    padding: 10px;
    background: #fff;
    h2 {
      margin: 10px 0 15px;
      padding-left: 15px;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      border-left: 3px solid #0068ff;
    }
  }
  .orgName {
    font-size: 18px;
  }
  &-state {
    display: inline-block;
    margin-top: 8px;
    padding: 2px 10px;
    color: #0068ff;
    border: 1px solid #0068ff;
    border-radius: 4px;
  }
}
